[init]
	defaultBranch = master
[user]
	name = Matteo Sandrin
	email = sandrin98@gmail.com
[alias]
	s  = status
	st = status
	c = commit
	co = checkout
	p = push
	f = fetch
	pf = push --force-with-lease
	fom = fetch origin master
	rom = reset --hard origin/master
	rbom = rebase origin/master
	rbc = rebase --continue
	unstage = reset HEAD --
	last = log -1 HEAD
[includeIf "gitdir:numeric-io/"]
    path = ~/.gitconfig-numeric